---
//## rk begin
export interface Props {
  enabled: string
}

const { enabled = 'no' } = Astro.props
---

{
  enabled === 'yes' && (
    <>
      <span style="font-size: 10px;">当サイトではアフィリエイト広告を利用しています</span>
    </>
  )
}
<!-- ## rk end -->
